.*
*-stamp
*.bak
*.cfg
*.cover
*.db
*.gpx*
*.log
*.old
*.orig
*.pot
*.pyc
*.pyo
*.so
*.swo
*.swp
*.zip
*~
build
debian/files
debian/python-module-stampdir/
debian/mna
debian/mna.*
dist
doc.dev
locale
mna.egg-info
tags
info/
docs/
man/*.1
mna/gui/_*_rc.py
mna/gui/_ui_*.py
